<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="daara">
      <h2 data-cy="daaraDetailsHeading"><span jhiTranslate="journeeXassaideApp.daara.detail.title">Daara</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ daara.id }}</span>
        </dd>
        <dt><span jhiTranslate="journeeXassaideApp.daara.nom">Nom</span></dt>
        <dd>
          <span>{{ daara.nom }}</span>
        </dd>
        <dt><span jhiTranslate="journeeXassaideApp.daara.region">Region</span></dt>
        <dd>
          <div *ngIf="daara.region">
            <a [routerLink]="['/region', daara.region?.id, 'view']">{{ daara.region?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/daara', daara.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
