<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lieu">
      <h2 data-cy="lieuDetailsHeading"><span jhiTranslate="journeeXassaideApp.lieu.detail.title">Lieu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ lieu.id }}</span>
        </dd>
        <dt><span jhiTranslate="journeeXassaideApp.lieu.nom">Nom</span></dt>
        <dd>
          <span>{{ lieu.nom }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/lieu', lieu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
