<div>
  <h2 id="page-heading" data-cy="CuisineHeading">
    <span jhiTranslate="journeeXassaideApp.cuisine.home.title">Cuisines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="journeeXassaideApp.cuisine.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cuisine"
        [routerLink]="['/cuisine/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="journeeXassaideApp.cuisine.home.createLabel"> Create a new Cuisine </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cuisines?.length === 0">
    <span jhiTranslate="journeeXassaideApp.cuisine.home.notFound">No cuisines found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cuisines && cuisines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom">
            <span jhiTranslate="journeeXassaideApp.cuisine.nom">Nom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="capacite">
            <span jhiTranslate="journeeXassaideApp.cuisine.capacite">Capacite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lieu.id">
            <span jhiTranslate="journeeXassaideApp.cuisine.lieu">Lieu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cuisine of cuisines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cuisine', cuisine.id, 'view']">{{ cuisine.id }}</a>
          </td>
          <td>{{ cuisine.nom }}</td>
          <td>{{ cuisine.capacite }}</td>
          <td>
            <div *ngIf="cuisine.lieu">
              <a [routerLink]="['/lieu', cuisine.lieu?.id, 'view']">{{ cuisine.lieu?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cuisine', cuisine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cuisine', cuisine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cuisine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cuisines && cuisines.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
