<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cuisine-heading" data-cy="CuisineCreateUpdateHeading" jhiTranslate="journeeXassaideApp.cuisine.home.createOrEditLabel">
        Create or edit a Cuisine
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="journeeXassaideApp.cuisine.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="journeeXassaideApp.cuisine.capacite" for="field_capacite">Capacite</label>
          <input type="number" class="form-control" name="capacite" id="field_capacite" data-cy="capacite" formControlName="capacite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="journeeXassaideApp.cuisine.lieu" for="field_lieu">Lieu</label>
          <select class="form-control" id="field_lieu" data-cy="lieu" name="lieu" formControlName="lieu">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="lieuOption.id === editForm.get('lieu')!.value?.id ? editForm.get('lieu')!.value : lieuOption"
              *ngFor="let lieuOption of lieusCollection; trackBy: trackLieuById"
            >
              {{ lieuOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
